body{
    background-image: url("media/back3.jpeg");
    background-size: cover;
    background-attachment: fixed;
    
}
.logo{
    display: block;
    margin-left: 1%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: auto;
    width: 25%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30%;
    text-align: center;
    width: 45%;


}

h1{
    font-size: 3vw;
}

.service-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 90%;
}
.service-form{
    background-color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-disc{
    text-align: center;
    
}
.ser-disc-form{
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
    width: 80%;
    
}

.contact{
    background-color: whitesmoke;
    display: block;
    margin-left: 1%;
    margin-right: 15%;
    margin-top: 15%;
    margin-bottom: auto;
    width: 25%;
    position: fixed;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul{
    list-style-type: none;
    font-size: 1vw;
    text-align: justify;
}
button{
    margin-left: 1%;
    margin-right: 15%;
    margin-top: 12%;
    margin-bottom: auto;
    width: 25%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.5vw;
}
.footer-title{
    display: block;
    text-align: center;
    margin-top: -50px;
}
.partners-logo{
    width: 7%;
    margin-left: 19%;
    margin-bottom: 15%;
}
.footer-maxinvest{
    width: 15%;
    margin-left: 11%;
    margin-bottom: 15%;
}

.footer-creator{
    display: block;
    background-color: whitesmoke;
    color: grey;
    margin-top: auto;
    margin-bottom: 0;
    font-size: 1vw;
    
}
p{
    font-size:1vw;
}